img.avatar{
    border-radius: 40%;
    width: 75px;
    height: 75px;
    margin-top: 20px;
    justify-content: center;
}
div .sumary{
    opacity: 70%;
    width: 250px;
    height: 120px;
    background-color: #FFF;
    z-index: 2;
    position: absolute;
    top: 160px;
    left:160px ;
    text-align: left;
    color: black;
    font-size: 20px;
    font-family: monospace;
    
}
.big{
    height: 800px;
}
.info{
    position: absolute;
    top: 10;

}
 .div-avatar{
    position:sticky ;
    background: transparent;
    top: 0;
    z-index: 1;
    padding: 5px;
}
.out-box{
    display:flex;
    justify-content: center;
}
@media(max-width:350px){
    .sumary{
        display: none;
    }
    .out-box{
        flex-direction: column;
        padding:5px 1px 1px 1px ;
        left: 0px;
    } 
    .box{
        margin: 1px;
        display: block;
        width: auto;
        left: 0px;

        
    }
    .paper{
        width: 300px;
        height: auto;
        text-justify: auto;
        left: 0px;
        font-size: smaller;
        word-break: break-all;
        overflow: auto;
        max-width: 280px;
        min-width: 200px;
        
    }
    .right{
        display: none;
    }
    .footer{
        width: 100%;
    }

}
.box{
    position: relative;
    overflow: visible;
    float: left;
    margin: 0px 20px 0px 20px;
    border: #999ca3;
    height: fit-content;
    width: auto;
}


li{
    text-align: left;
}
.paper{
    width: 500px;
    height: fit-content;
    text-align: center;
    text-justify: auto;
    background-color: #e0e1f1;
    padding: 5px;
    overflow: auto;
  
    
 
}
.top{
    top: -10px;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 55%;
    background-color: #FFF;
}
.left{
    left: -10px;
    
}
.right{
    
    right: -10px;
}


.items {
    background-color: #999ca3;
  
    

    padding: 5px;
}
.slide{
    position: absolute;
    right: 10px;
    border: red;

  }
.item{
    margin: 10px;


    flex-direction: column-reverse;
}

.footer{
    background-color: black;
    width: 100%;
    display: block;
    height: 100px;
}
