img.avatar{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 20px;
    justify-content: center;
}
.big{
    height: 1000px;
}
div .div-avatar{
    position:sticky ;
    background: transparent;
    top: 0;
    z-index: 1;
    padding: 5px;
}
.out-box{
    display:flex;
    justify-content: center;
}
.box{
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0px 20px 0px 20px;


}
.paper{
    width: 500px;
    height: 200px;
    text-align: center;
    background-color: #757ce8;
 
}
.top{
    top: -10px;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #FFF;
}
.left{
    left: -10px;
    
}
.right{
    
    right: -10px;
}


.items {
    background-color: #999ca3;
  
    

    padding: 5px;
}
.item{
    margin: 10px;


    flex-direction: column-reverse;
}

